html{
    scroll-behavior: smooth;
}

.navbar{
    display: flex;
    background: #70DECA; 
    font-family: 'Poppins';
    font-size: 18px;
}

.edu{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 160px;
}

.skill{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 160px;
}

.exp{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 160px;
}

.contact{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 160px;
}

.table{
    background-color: #70DECA;
    border-color: white;
}

.table .scope th,td{
    display: flex;
    justify-content: center;
    flex-direction: inherit;
    font-family: 'Poppins';
    font-size: 30px;
}

.blockquote{
    font-family: 'Poppins';
    font-size: 30px;
}

.centered h4{
    font-family: 'Poppins';
    font-size: 48px;
    display: flex;position: relative;
    justify-content: center;
    align-items: center;
}

hr{
    width: 100px;
    border-top: 3px solid #eaeaea;
    margin-top: -55px;
}

.container img{
    width: 50px; 
    margin: auto;
}

h4{
    font-family: 'Poppins';
    font-size: 30px;
    text-align: center;
}

.col-md-6 img{
    width: 500px; 
    margin: auto;
}

.container-home{
    position: relative;
    text-align: center;
    font-family: 'Poppins';
    font-size: 30px;
    color: black;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
